node_modules/
dist/
build/
.env  
*.log
.DS_Store
coverage/
npm-debug.log*  
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.tmp
*.bak
*.orig
*.swm
*.swo
*.pid
*.seed
*.pid.lock